<div class="container">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Publication Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let book of books'>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}} din</td>
                <td>{{book.publicationDate}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button mat-raised-button (click)=export()>Export table</button>
    <button mat-raised-button color='warn' (click)='delete()'>Empty table</button>
    <br>
    <br>
    <mat-form-field style="width: 20rem;">
        <mat-label>Enter .xls or .xlsx file name</mat-label>
        <input matInput [(ngModel)]="path" type="text">
    </mat-form-field>
    <button mat-raised-button (click)='import()'>Import</button>
    <br><br>
    <p>Za testiranje sam importovao isti fajl koji sam exportovao jer je on u odgovarajucem formatu (ExportedBooks.xlsx)</p>
</div>
