<div class="container">   
    <h3 *ngIf='token == null'>Login to input excel file</h3>
    <h3 *ngIf='roles.includes("ROLE_USER") && !roles.includes("ROLE_ADMIN")'>You are logged in as user</h3>
    <h3 *ngIf='roles.includes("ROLE_ADMIN") && roles.includes("ROLE_USER")'>You are logged in as admin</h3>
    <button mat-raised-button (click)='user()' *ngIf="roles.includes('ROLE_USER')" matTooltip='Ispisuje u konzolu odgovor sa @Secured funkcije samo za user-a'>User only secured function</button>
    <button mat-raised-button (click)='admin()' *ngIf='roles.includes("ROLE_ADMIN")' matTooltip='Ispisuje u konzolu odgovor sa @Secured funkcije samo za admin-a, admin je ujedno i user'>Admin only secured function</button>
    <br>
    <br>
    <br>
    <input type="file" (change)="change($event)" *ngIf='token != null'>
</div>
